
/* html, body {
    margin: 5px;
    display: flex;
    flex-direction: center;
    justify-content: center;
} */

/* header {
    display: flex;
    flex-direction: center;

} */

.key {
    display: flex;
    background-color: red;
    padding-left: 12px;
    flex-direction: column;
    border: 2px black solid;
}

#container {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
   
  
}