img {
    width: 40%;
}

#main-content{
    margin-left: 40%;
    font-family: 'Creepster';
    font-size: 18px;

    }
    
    .key {
        display: flex;
        background-color: rgb(240, 159, 27);
        padding-left: 12px;
        flex-direction: column;
        border: 2px black solid;
        font-family: 'Creepster';
    }
    #keyboard > div 
    {
        margin-top: 10px;
        width: 20px;
        height: 30px;
    }
    #container {
        display: flex;
        flex-direction: row;
    }

    #start-button {
        margin-left: 15%;
        margin-top: 5%;
        color:rgb(196, 106, 50);
        height: 40px;
        width: 10%;
    }
    